PROJ=
PROJLOC=
PROJPATH=$HOME/$PROJLOC/$PROJ
TEMPO=
SCORE=$PROJPATH/$PROJ.ly
ARTIST=
SESSION=session/session.eca
BEAT=$(bc <<< "scale=4; (60/$TEMPO)")
BAR=$(bc <<< "scale=4;$BEAT*4")
LENGTH=$(bc <<< "scale=4;$BAR*16")
DUR=$(bc <<< "scale=4;$BAR*4")
START_TIME=$(bc <<< "scale=2;$BAR*0")
DUR=
LENGTH=
